.page {
	@include container;
}

#main {
	padding-top: 0;
	@include breakpoint($footer) {
		padding-top: 62px;
	}
}

.home #main {
	padding-top: 0;
}

.search #main,
.category #main,
.archive #main {
	padding-top: 75px;
	.page-header {
		margin-bottom: 100px;
	}
}

.section {
	margin: 100px 2em;
	@include breakpoint($footer) {
		margin: 100px 4em;
	}
	@include breakpoint($aboutme) {
		margin: 100px 6em;
	}
}

.fullwidthtext {
	@include breakpoint($aboutme) {
		margin: 100px 8em;
	}
}
.fullwidthtext,
.fullwidth {
	h1,
	h4 {
		text-align: center;
	}
}

.page-header {
	text-align: center;
}

.blog,
.search,
.archive,
.category {
	.featured-image {
		text-align: center;
	}
	.content-area {
		max-width: $max-width;
		margin: 0 auto;
		padding: 0 2em;
	}
	#content {
		padding: 150px 0 0;
	}
	article {
		padding-bottom: 2em;
		@include breakpoint($footer) {
			padding-bottom: 150px;
		}
	}
	a.more-link {
		font-family: $font__sub;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		font-size: 12px;
	    background: $leather;
	    color: #ffffff;
	    padding: 15px 150px;
	    display: block;
	    text-align: center;
	    margin: 5em auto;
	}
}

#featured-posts {
	@include breakpoint($footer) {
		width: span(10 of 12);
		padding: 0;
		.left {
			position: absolute;
			top: 30%;
			left: -95px;
			transform: rotate(-90deg);
		}
		.right {
			position: absolute;
			top: 30%;
			right: -95px;
			transform: rotate(90deg);
		}
		article {
			padding-bottom: 0;
			@include span(4 of 12);
			padding: 0 2em;
			&:nth-child(3n) {
				@include span(4 of 12 last);
			}	
		}
	}
	padding: 0 4em;
	position: relative;
	margin: 0 auto 50px;
	&:after {
		@include clearfix;
	}
	.left,
	.right {
		text-align: center;
		font-family: $font__sub;
		color: $leather;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 4.5px;
	}
	.left {
		padding-bottom: 2em;
	}
	.right {
		padding-top: 2em;
	}
	article {
		// float: left;
		// width: 1/3 * 100%;
		// padding: 0 30px;
		img {
			width: 100%;
			padding-bottom: 1em;
		}
		header {
			margin: 0 auto;
		}
	}
}

.yarpp-wrapper {
	background-color: $lightgrey;
	margin-bottom: 100px !important;
	padding: 50px 1em;
	@include breakpoint($footer) {
		padding: 50px 4em;
	}
	h4 {
		text-align: center;
		color: $passportblue;
	}
	em {
		color: #b1b3b6;
		font-size: 12px;
	}
	img {
		width: 100%;
		padding-bottom: 1em;
	}
	ul {
		list-style: none;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		&:after {
			@include clearfix;
		}
	}
	li {
		padding: 1em;
		text-align: left;
		display: inline-block;
		vertical-align: top;
		width: span(12 of 12);
		max-width: 300px;
	}
	// li:nth-last-child(4):first-child,
	// li:nth-last-child(4):first-child ~ li {
	// 	width: span(12 of 12);
	// 	float: left;
	// 	@include breakpoint($small) {
	// 		width: 1 / 2 * 100%;
	// 		float: left;			
	// 	}
	// 	@include breakpoint($aboutme) {
	// 		width: 1 / 4 * 100%;
	// 		float: left;
	// 	}
	// }
	// li:nth-last-child(3):first-child,
	// li:nth-last-child(3):first-child ~ li {
	// 	width: span(12 of 12);
	// 	float: left;
	// 	@include breakpoint($footer) {
	// 		width: 1 / 3 * 100%;
	// 		float: left;
	// 	}
	// }
	// li:nth-last-child(2):first-child,
	// li:nth-last-child(2):first-child ~ li {
	// 	width: span(12 of 12);
	// 	max-width: 300px;
	// }
	// li:only-child {
	// 	max-width: 1 / 4 * 100%;
	// 	margin: 0 auto;
	// }
}

// Home Page ––– Tagline

#tagline {
	padding: 125px 2em 40px;
	#thl-logomark {
		display: none;
	}
	&:after {
		@include clearfix;
	}
	h1 {
		width: span(12 of 12);
	}
	@include breakpoint($footer) {
		width: span(10 of 12);
		margin: 0 auto;
	}
	@include breakpoint($aboutme) {
		h1 {
			@include span(9 of 12);
		}
		#thl-logomark {
			@include span(3 of 12 last);
			display: inherit;
			text-align: right;
			img {
				max-width: 80px;
				margin: 0 auto;
			}	
		}
	}
}

// Home Page ——— About

.about-me {
	@include breakpoint($aboutme) {
		height: 530px;
		overflow: hidden;
	}
	width: span(8 of 12);
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	.right {
		@include breakpoint($aboutme) {
			@include span(7 of 12 last);
		}
		height: 100%;
	}
	.left {
		@include breakpoint($aboutme) {
			@include span(5 of 12);
			.about-text {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		.about-text {
			padding: 40px;
		}
		height: 100%;
		background: url('inc/TheHumbleLion-Black-large.png');
		background-color: $black;
		background-size: 100% auto;
		color: #ffffff;
		text-align: center;
		position: relative;
		color: $grey;
		a,
		a:visited {
			font-family: $font__sub;
			font-size: 12px;
			line-height: 22px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: $grey;
			&:before {
				content: '';
				display: block;
				height: 1px;
				width: 45px;
				margin: 0 auto 25px;
				background-color: $grey;
			}
		}
		.about-text {
			span {
				padding-bottom: 5%;
				@include breakpoint($aboutme) {
					padding-bottom: 8em;
				}
				display: block;
			}
		}
	}
	&:after {
		@include clearfix;
	}
}

.about-wrapper {
	&:after {
		@include clearfix;
	}
}

// About Page

.about-left,
.about-right {
	@include breakpoint($footer) {
		width: span(6 of 12);
		float: left;
		padding: 0 3.5%;
	}
}

.bio-photo {
	text-align: center;
	margin-bottom: 1em;
}

.list-section {
	display: none;
	text-align: center;
	margin: 5em 4em;
	@include breakpoint($footer) {
		display: block;
	}
	h3 {
		padding-bottom: 1em;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@include breakpoint($aboutme) {
			@include two-columns;
		}
	}
}

// Wisdom Page

.wisdom-wall {
	// margin: 0 $section-padding 100px;
	// padding: 0 2em;
	.wisdom-location {
		font-family: $font__sub;
	}
	.wisdom-author {
		font-family: $font__sub;
	}
}

.home-gallery,
.gallery,
.gallery-wall {
	.gallery-heading {
		max-width: 1000px;
		margin: 0 auto 50px;
		text-align: center;
		.heading-right hr {
			max-width: 100px;
			margin: 1em auto;
		}
	    h1,
	    h4 {
	    	margin: 0;
	    }
	    &:after {
	    	@include clearfix;
	    }
	}
}

.about-page {
	.gallery-heading {
		.heading-right {
			display: none;
		}
	}
}

// .gallery {
// 	h4 {
// 		text-align: center;
// 		@include breakpoint($footer) {
// 			text-align: left;
// 		}
// 	}
// }

.gallery-wall {
	@include breakpoint($aboutme) {
		margin: 0 $section-padding 100px;
	}
	.tg-nav-font,
	.tg-item-term {
		font-family: $font__sub;
		font-size: 12px !important;
		line-height: 28px;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
	.tg-filter-name {
		padding: 0 50px;
	}
}

.home .gallery-wall {
	margin: 0 0 100px;
}

.gallery {
	margin-bottom: 100px !important;
	h4 {
		color: $passportblue;
	}
}

.fullwidthtext {
	// padding: 0 150px;
	@include breakpoint($aboutme) {
		.text {
			@include two-columns;
		}
	}
}

.services,
.categories {
	// padding: 100px 0 75px;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&:after {
			@include clearfix;
		}
		li {
			padding: 0 1em 2em;
			@include breakpoint($aboutme) {
				@include span(4 of 12);
				min-height: 230px;
				&:nth-child(3n) {
					@include span(4 of 12 last);
					&:after {
						@include clearfix;
					}
				}
			}
			@include breakpoint($between) {
				@include span(6 of 12);
				&:nth-child(2n) {
					@include span(6 of 12 last);
					&:after {
						@include clearfix;
					}
				}
			}
		}
	}
	i {
		font-weight: 600;
	}

}