.section {
	h1 {
		text-align: center;
	}
}

#tagline {
	padding: 125px 125px 40px;
	&:after {
		@include clearfix;
	}
	h1 {
		float: left;
		width: 75%;
		margin: 0;
	}
	#thl-logomark {
		float: left;
		width: 25%;
		text-align: right;
		img {
			max-width: 80px;
			margin: 0 auto;
		}		
	}
}

#featured-posts {
	padding: 50px 0;
	position: relative;
	&:after {
		@include clearfix;
	}
	.left,
	.right {
		font-family: $font__sub;
		color: $leather;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 4.5px;
	}
	.left {
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(-90deg);
	}
	.right {
		position: absolute;
		top: 50%;
		right: 0;
		transform: rotate(90deg);
	}
	article {
		float: left;
		width: 1/3 * 100%;
		img {
			width: 100%;
		}
		header {
			margin: 0 auto;
		}
	}
}

.home-gallery {
	padding: 100px 0;
	h1 {
		// float: left;
		// &:after {
		//     content: '';
		//     display: block;
		//     height: 1px;
		//     background: $black;
		//     width: 50%;
		//     float: right;
		// }
	}
}

.about-me {
	// padding: 0 0 100px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	width: 68%;
	overflow: hidden;
	height: 530px;
	.left {
		float: left;
		background: url('inc/TheHumbleLion-Black-large.png');
		background-size: 100% auto;
		color: #ffffff;
		width: 42%;
		height: 100%;
		text-align: center;
		position: relative;
		.about-text {
			padding: 40px;
			position: absolute;
			bottom: 0;
			left: 0;
			span {
				padding-bottom: 8em;
				display: block;
			}
		}
	}
	.right {
		// background: url('inc/KaSandraMitchell.jpg');
		float: right;
		height: 100%;
		width: 55%;
	}
	&:after {
		@include clearfix;
	}
}

.wisdom-wall {
	margin: 0 $section-padding 150px;
	.wisdom-location {
		font-family: $font__sub;
	}
	.wisdom-author {
		font-family: $font__sub;
	}
}

.blog {
	.content-area {
		max-width: $max-width;
		margin: 0 auto;
	}
}

.fullwidthtext {
	padding: 150px;
	.text {
		@include two-columns;
	}
}

.services {
	padding: 100px 0 75px;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&:after {
			@include clearfix;
		}
		li {
			float: left;
			width: 1/3 * 100%;
			padding: 30px 2%;
		}
	}
	i {
		font-weight: 600;
	}

}