.section {
	h1 {
		text-align: center;
	}
}

#tagline {
	padding: 50px 0;
}

#featured-posts {
	padding: 50px 0;
	position: relative;
	.left,
	.right {
		font-family: $font__sub;
		color: $leather;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 4.5px;
	}
	.left {
		position: absolute;
		top: 50%;
		left: 0;
		transform: rotate(-90deg);
	}
	.right {
		position: absolute;
		top: 50%;
		right: 0;
		transform: rotate(90deg);
	}
	article {
		display: inline-block;
		width: 30%;
		header {
			margin: 0 auto;
		}
	}
}

.home-gallery {
	padding: 100px 0;
}

.about-me {
	padding: 0 0 100px;
}

.wisdom-wall {
	margin: 0 $section-padding 150px;
	.wisdom-location {
		font-family: $font__sub;
	}
	.wisdom-author {
		font-family: $font__sub;
	}
}

.blog {
	.content-area {
		max-width: $max-width;
		margin: 0 auto;
	}
}

.fullwidthtext {
	padding: 150px;
	.text {
		@include two-columns;
	}
}

.services {
	padding: 100px 0 75px;
	text-align: center;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		&:after {
			@include clearfix;
		}
		li {
			float: left;
			width: 1/3 * 100%;
			padding: 30px 2%;
		}
	}
	i {
		font-weight: 600;
	}

}