// Footer styling

#colophon {
	// padding: 110px 50px 40px 50px;
	padding: 110px 2em 40px;
	background-color: $dustyblue;
	color: $lightgrey;
	a {
		color: $lightgrey;
		text-decoration: none;
	}
	.site-info {
		font-size: 11px;
	}
	.footer-site-title {
		font-weight: 500;
		margin: 1.5em 0 0;
	}
	#footer-social {
		padding: 0 0 30px;
	}
	.footer-navigation {
		padding-bottom: 40px;
		max-width: 250px;
		margin: 0 auto;
		@include breakpoint($footer) {
			margin: 0;
		}
	}
}

#footer-left,
#footer-right {
	text-align: center;
}

#footer-left {
	@include breakpoint($footer) {
		@include span(6 of 12);
		text-align: left;
	}	
}
#footer-right {
	@include breakpoint($footer) {
		@include span(6 of 12 last);
		text-align: right;
	}
}

// Footer Social Menu
#footer-social {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
			display: inline-block;
			padding: 0 0.5em 0 0;
		}
	}
}
