button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	border: none;
	border-radius: 0;
	background: $passportblue;
	color: #ffffff;
	font-family: $font__sub;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2.5px;
	font-size: 14px;
	padding: 15px 90px;
	width: 100%;
	max-width: 100%;
	&:hover,
	&:active,
	&:focus {
		opacity: 0.6;
	}
}

.form-wrapper {
	text-align: center;
	background-color: $lightgrey;
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
	h2 {
		font-style: italic;
	}
}
.blog .form-wrapper {
	margin-bottom: 0;
}
.thl-form {
	padding: 0 2em;
	// @include breakpoint($aboutme) {
	// 	padding: 0 $form-padding;
	// }
}
.newsletter-form {
	padding: 0 2em;
	@include breakpoint($aboutme) {
		padding: 0 $section-padding;
	}
}
.contact-form {
	max-width: 650px;
	padding-left: 2em;
	padding-right: 2em;
	margin: 0 auto;
	button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		background: $leather;
		width: 100% !important;
	}
	// .field-wrap input[type="submit"], 
	// .field-wrap input[type="button"], 
	// .field-wrap button {
	// 	width: 100% !important;
	// }
}

.list-checkbox-wrap {
	padding: 50px 0 0;
	margin: 0 auto;
	li {
		width: 1/3 * 100%;
		float: left;
		text-align: left;
		font-size: 18px;
	}
}
.list-radio-wrap .nf-field-element li label, 
.list-checkbox-wrap .nf-field-element li label {
	display: block !important;
}

// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: $color__border-button;
// 	border-radius: 3px;
// 	background: $color__background-button;
// 	color: rgba(0, 0, 0, .8);
// 	@include font-size(0.75);
// 	line-height: 1;
// 	padding: .6em 1em .4em;
// }
// input[type="checkbox"] {
// 	visibility: hidden;
// }