.nf-form-fields-required {
	display: none;
}
.nf-field {
	margin-bottom: 2em;
}
.nf-field-container {
	margin-bottom: 0!important;
}

.newsletter-form li label {
	padding-bottom: 1.5em;
}

// Mailchimp Styling
#mc_embed_signup {
	label {
		display: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background-color: $lightgrey;
	color: $black !important;
	border: 1px solid $color__border-input;
	border-radius: 0;
	padding: 20px 20px 10px;
	width: 100%;
	margin-bottom: 2em;
	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

// Custom checkbox styling

input[type=checkbox] { 
	display:none; 
}

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: block;
  float: left;
  font-size: 1.75em;
}

input[type=checkbox] + label:before { 
	content: "\f096"; 
} /* unchecked icon */
input[type=checkbox] + label:before { 
	letter-spacing: 40px; 
} /* space between checkbox and label */

input[type=checkbox]:checked + label:before { 
	content: "\f046"; 
} /* checked icon */
input[type=checkbox]:checked + label:before { 
	letter-spacing: 35.5px; 
} /* allow space for check mark */
