h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-size: 38px;
	line-height: 52px;
	letter-spacing: 0.15px;
	font-weight: 500;
	color: $black;
	margin: 0 0 60px 0;
}

h2 {
	font-size: 32px;
	line-height: 52px;
	letter-spacing: 0.15px;
	font-weight: 400;
	color: $black;
}

h3 {
	font-family: $font__sub;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: $grey;	
}

h4 {
	font-family: $font__sub;
	font-size: 12px;
	line-height: 28px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $leather;
}

h5 {
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.15px;
	font-weight: 400;
	color: $black;
	margin: 0.5em 0;
}