// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin two-columns {
  -webkit-column-count: 2;
	 -moz-column-count: 2;
		  column-count: 2;
	-webkit-column-gap: 40px;
			column-gap: 40px;
	   -moz-column-gap: 40px;
	   &:after {
	   	clear: both;
	   	content: '';
	   }
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}
