$size__site-main: 100%;
$size__site-sidebar: 25%;
$max-width: 800px;
$section-padding: 150px;
$form-padding: 350px;

$small: 31rem;
$footer: 46rem;
$between: 46rem 60rem;
$aboutme: 60rem;
$wide: 72rem;
// $ipad: 800px;

$susy: (
	global-box-sizing: border-box,
	use-custom: (rem: true
		),
	columns: 12
);