#masthead {
	width: 100%;
	position: relative;
}
#left-menu,
#right-menu {
	display: none;
	@include breakpoint($smaller-padding) {
		display: block;
		width: 45%;
		text-align: center;
	}
}
#left-menu {
	float: left;
}
#center-menu {
	@include breakpoint($smaller-padding) {
		float: left;
		width: 10%;		
	}
}
#right-menu {
	float: right;
}

#nav-toggle {
	text-align: right;
	position: absolute;
	top: 20px;
	right: 20px;
	@include breakpoint($smaller-padding) {
	display: none;
	}
}

#mobile-left-link {
	text-align: left;
	position: absolute;
	left: 20px;
	top: 20px;
	@include breakpoint($smaller-padding) {
	display: none;
	}	
	li {
		padding: 0;
	}
}

#blog-menu {
	display: none;
	@include breakpoint($smaller-padding) {
		display: block;
		position: fixed;
		margin-top: 62px;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid $passportblue;
		background-color: #ffffff;
		z-index: 99998;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			padding: 1.5em 3% 1em;
			display: inline-block;
			position: relative;
			font-style: italic;
			a {
				color: $passportblue;
			}
		}
		li.current-menu-item a {
			color: $leather;
		}
	}
}

.main-navigation,
.banner {
	font-family: $font__sub;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 26px;
	text-transform: uppercase;	

	width: 100%;
	background-color: $passportblue;
	clear: both;
	z-index: 99999;

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			padding: 1.5em 8%;
			@include breakpoint($larger-padding) {
				padding: 1.5em 10%;
			}
		}
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
		&:after {
			@include clearfix;
		}
	}

	li {
		// float: left;
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a,
	a:visited {
		display: block;
		text-decoration: none;
		color: $beige;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	&:after {
		@include clearfix;
	}
}

.main-navigation {
	position: fixed;
	display: block;
	float: left;
}

ul.sub-menu {
	padding-left: 2.5em;
}

.banner {
	position: absolute;
	bottom: 0;
	left: 0;
	background: none;
	// padding-bottom: 1em;
}

.banner--stick {
	position: fixed;
	top: 0;
	bottom: auto;
	background-color: $passportblue;
	z-index: 99999;
}

// .banner--clone {

//   /* Required styles */
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: auto;

//   background-color: $passportblue;
//   // padding: 0 2em;

//   /* Translate -100% to move off screen */
//   -webkit-transform: translateY(-100%);
//       -ms-transform: translateY(-100%);
//           transform: translateY(-100%);

//   /* Animations */
//   -webkit-transition: all 300ms ease-in-out;
//      -moz-transition: all 300ms ease-in-out;
//           transition: all 300ms ease-in-out;

// }

// .banner--stick {

//   /* Translate back to 0%; */
//   -webkit-transform: translateY(0%);
//       -ms-transform: translateY(0%);
//           transform: translateY(0%);
// }

.footer-navigation {
	@include two-columns;
	font-family: $font__sub;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 26px;
	text-transform: uppercase;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {
// 	.menu-toggle {
// 		display: none;
// 	}
// 	.main-navigation ul {
// 		display: block;
// 	}
// }

.comment-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
