#masthead {
	// position: fixed;
	// top: 0;
	width: 100%;
}

#left-menu {
	float: left;
	width: 45%;
	text-align: center;
}
#right-menu {
	float: right;
	width: 45%;
	text-align: center;
}
#center-menu {
	float: left;
	width: 10%;
}

#blog-menu {
	position: fixed;
	margin-top: 62px;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid $passportblue;
	background-color: #ffffff;
	z-index: 99998;
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			padding: 1.5em 2.5em 1em;
			display: inline-block;
			position: relative;
			font-style: italic;
			a {
				color: $passportblue;
			}
		}
		li.current-menu-item a {
			color: $leather;
		}
	}
}

.main-navigation {
	font-family: $font__sub;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 26px;
	text-transform: uppercase;

	position: fixed;
	z-index: 99999;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background-color: $passportblue;
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		li {
			padding: 1.5em 10%;
		}
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
		&:after {
			@include clearfix;
		}
	}

	li {
		// float: left;
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.footer-navigation {
	@include two-columns;
	font-family: $font__sub;
	font-size: 12px;
	letter-spacing: 2px;
	line-height: 26px;
	text-transform: uppercase;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
